<ion-header>
  <ion-toolbar>
    <ion-title>maps-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-input [(ngModel)]="searchinput" #searchInput>
    </ion-input>
    <ion-button (click)="searchProduct(searchInput.value)">Search</ion-button>

    <ion-card *ngFor="let f of products">
        <ion-img [src]="f.workspace_image"></ion-img>
        <ion-card-header>
            <ion-card-title> {{ f.title }}</ion-card-title>
            <ion-card-title>₱ <span>{{ f.rate }}</span></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
              {{ f.type }} <br>
              <ion-icon name="ios-cart"></ion-icon> {{ f.type }}  <br>
              <ion-icon name="ios-cash"> </ion-icon> {{ f.rate }} <br>
              <ion-icon name="ios-pin"></ion-icon> {{f.name}}
            </p>
            <!-- <ion-button color="main" size="small" fill="clear" (click)="checkAvailability(wd.user_id,wd.space_id)">check Availability</ion-button> -->
            
        </ion-card-content>
    </ion-card>

    

</ion-content>
