
.ion-color-main {
  --ion-color-base: rgb(51, 211, 149);
  --ion-color-base-rgb: 144, 61, 96;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade:  rgb(53, 136, 115);
  --ion-color-tint: rgb(29, 117, 98);
  }

  
  .ion-color-mainBtn {
    --ion-color-base: rgb(51, 211, 149);
  --ion-color-base-rgb: 144, 61, 96;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade:  rgb(53, 136, 115);
  --ion-color-tint: rgb(29, 117, 98);
  } 
  .a,.b,.c,.d,.e,.fa,.g,.h{
    display: none !important;
  }