<ion-header  [class.show-toolbar]="showToolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > <ion-img class="logo-title" src="assets/icon/muntilogo.png"></ion-img> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  [scrollEvents]="true" (ionScroll)="onScroll($event)" Text-Capitalize>
  <div class="bg-img"  >
      <br>
      <ion-buttons slot="start" >
        <ion-menu-button style="color:white"></ion-menu-button>
      </ion-buttons>
      <br>
      <h1 text-center style="color:white; font-weight:700" >Welcome to <br> MUNTI!</h1>
      <p text-center style="color:#eeeeee; font-size: 1.2rem">Browse over the prices that the community posted</p>

      <!-- <ion-searchbar mode="ios" placeholder="Search Location" color="light"></ion-searchbar> -->
      <br>
      <br>
      <br>
      <br>
  </div>

  <ion-segment  color="main"  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="hour" checked>
        Categories
    </ion-segment-button>
  </ion-segment>

  <div class="categories">
    <ion-card>
      
    </ion-card>

  </div>

   <!-- Beginning of the category card -->
   <div class="padding_helper" color="white" >
    <div class="category_image">
        <div class="text-center image_padding">
          <!-- <p class="section_headline">
              Grocery
          </p> -->
          <p class="nomargin category_headline">
              Grocery

          </p>
        </div>
    </div>
  </div>
  <!-- End of the category card -->

     <!-- Beginning of the category card -->
     <div class="padding_helper" color="white" >
      <div class="category_image2">
          <div class="text-center image_padding">
            <!-- <p class="section_headline">
                Grocery
            </p> -->
            <p class="nomargin category_headline">
                Men's Fashion
  
            </p>
          </div>
      </div>
    </div>
    <!-- End of the category card -->

       <!-- Beginning of the category card -->
         <div class="padding_helper" color="white" >
          <div class="category_image3">
              <div class="text-center image_padding">
                <!-- <p class="section_headline">
                    Grocery
                </p> -->
                <p class="nomargin category_headline">
                  
                  Women's Fashion

                </p>
              </div>
          </div>
        </div>
        <!-- End of the category card -->

         <!-- Beginning of the category card -->
         <div class="padding_helper" color="white" >
          <div class="category_image4">
              <div class="text-center image_padding">
                <!-- <p class="section_headline">
                    Grocery
                </p> -->
                <p class="nomargin category_headline">
                  
                  Home Appliances

                </p>
              </div>
          </div>
        </div>
        <!-- End of the category card -->

         <!-- Beginning of the category card -->
         <div class="padding_helper" color="white" >
          <div class="category_image5">
              <div class="text-center image_padding">
                <!-- <p class="section_headline">
                    Grocery
                </p> -->
                <p class="nomargin category_headline">
                  
                  Electronic Devices

                </p>
              </div>
          </div>
        </div>
        <!-- End of the category card -->

         <!-- Beginning of the category card -->
         <div class="padding_helper" color="white" >
          <div class="category_image6">
              <div class="text-center image_padding">
                <!-- <p class="section_headline">
                    Grocery
                </p> -->
                <p class="nomargin category_headline">
                  
                  Health & Beauty

                </p>
              </div>
          </div>
        </div>
        <!-- End of the category card -->






  

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="main" (click)="presentModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

