<ion-header  [class.show-toolbar]="showToolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > <ion-img class="logo-title" src="assets/icon/muntilogo.png"></ion-img> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  [scrollEvents]="true" (ionScroll)="onScroll($event)" Text-Capitalize>
  <div class="bg-img"  >
      <br>
      <ion-buttons slot="start" >
        <ion-menu-button style="color:white"></ion-menu-button>
      </ion-buttons>
      <br>
      <h1 text-center style="color:white; font-weight:700" >Welcome to <br> MUNTI!</h1>
      <p text-center style="color:#eeeeee; font-size: 1.2rem">Browse over the prices that the community posted</p>

      <!-- <ion-searchbar mode="ios" placeholder="Search Location" color="light"></ion-searchbar> -->
      <br>
      <br>
      <br>
      <br>
  </div>

  <ion-segment  color="main"  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="hour" checked>
        Categories
    </ion-segment-button>
  </ion-segment>

  <div class="categories">
    <ion-card>
      
    </ion-card>

  </div>
  
   <!-- Beginning of the category card -->
   <div class="padding_helper" color="white" (click)="CategoryTapped('Seeds')">
      <ion-icon ios="ios-pizza" md="md-pizza"></ion-icon>
    <div class="category__image">
        <div class="text-center image__padding">
          <p class="section__headline">
            Categories
          </p>
          <p class="nomargin category__headline">
            Seeds
          </p>
        </div>
    </div>
  </div>
  <!-- End of the category card -->


  <div>
    
  </div>
  

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="main" (click)="presentModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

