
  .bg-img{
    background-image: url('/assets/img/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.logo-title{
    width: 128px;

}

ion-header {
  display: none;
}

/* Show background if class is active */
.show-toolbar {
  display: block;
}

.ByDay{
  display: none !important;
}
.ByHour{
  display: none !important;
}

.ion-color-main {
  --ion-color-base: rgb(51, 211, 149);
  --ion-color-base-rgb: 144, 61, 96;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade:  rgb(53, 136, 115);
  --ion-color-tint: rgb(29, 117, 98);
  }

  
  .ion-color-mainBtn {
    --ion-color-base: rgb(51, 211, 149);
    --ion-color-base-rgb: 144, 61, 96;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade:  rgb(53, 136, 115);
    --ion-color-tint: rgb(29, 117, 98);
  }

  
  .image_padding {
    padding: 30px;
  }

  .padding_helper {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    // background-color: white;
  }
  .section_headline {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .8px;
    margin: 0;
    line-height: .1;
    text-transform: uppercase;
    color: #ffffff;
  }

  .category_headline {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 2;
    margin: 5px;
    text-align: center;
  }

  .category_image {
    background-image: url('../../../assets/img/grocery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }

  .category_image2 {
    background-image: url('../../../assets/img/mens-fashion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .category_image3 {
    background-image: url('../../../assets/img/women-fashion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .category_image4 {
    background-image: url('../../../assets/img/home-appliances.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .category_image5 {
    background-image: url('../../../assets/img/electronic-devices.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .category_image6 {
    background-image: url('../../../assets/img/health-beauty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }